<div class="table-responsive">

    <table class="table">
        <caption>Contact Information</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1</td>
                <td>Sameen</td>
                <td>Carter</td>
                <td>sameen.carter@onyouforce.com</td>
            </tr>
            <tr>
                <td scope="row">2</td>
                <td>Jim</td>
                <td>Finch</td>
                <td>jim.finch@onyouforce.com</td>
            </tr>
            <tr>
                <td scope="row">3</td>
                <td>Harold</td>
                <td>Halpert</td>
                <td>harold.halpert@onyouforce.com</td>
            </tr>
            <tr>
                <td scope="row">4</td>
                <td>Terry</td>
                <td>Parkman</td>
                <td>terry.parkman@onyouforce.com</td>
            </tr>
            <tr>
                <td scope="row">5</td>
                <td>Daphne</td>
                <td>Reese</td>
                <td>daphne.reese@onyouforce.com</td>
            </tr>
            <tr>
                <td scope="row">6</td>
                <td>Ellie</td>
                <td>Grey</td>
                <td>ellie.grey@onyouforce.com</td>
            </tr>
            <tr>
                <td scope="row">7</td>
                <td>Claire</td>
                <td>Jansen</td>
                <td>claire.jansen@onyouforce.com</td>
            </tr>
            <tr>
                <td scope="row">8</td>
                <td>Noah</td>
                <td>Bishop</td>
                <td>noah.bishop@onyouforce.com</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    Users listed in this table: <b>8</b>
                </td>
                <td colspan="2">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary mb-0">Confirm</button>
                        <button class="btn mb-0">Cancel</button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>