<vud-sidebar partialCollapse withIcons>
    <vud-sidebar-item>
        <vud-icon icon="email" type="dynamic"></vud-icon>
        Inbox
        <span class="badge">2</span>
    </vud-sidebar-item>

    <vud-sidebar-divider></vud-sidebar-divider>

    <vud-sidebar-label>HR for others</vud-sidebar-label>

    <vud-sidebar-group>
        <vud-icon icon="replace" type="dynamic"></vud-icon>
        Replacement
        <vud-sidebar-item href="/replacement/replacement-list">Replacement overview</vud-sidebar-item>
        <vud-sidebar-item>Set substitute</vud-sidebar-item>
    </vud-sidebar-group>

    <vud-sidebar-group>
        <vud-icon icon="absence" type="dynamic"></vud-icon>
        Absence
        <vud-sidebar-item>Absence management</vud-sidebar-item>
    </vud-sidebar-group>

    <vud-sidebar-label>Personal</vud-sidebar-label>

    <vud-sidebar-group>
        <vud-icon icon="contract" type="dynamic"></vud-icon>
        Contract and file
        <vud-sidebar-item>Request Generation Pact</vud-sidebar-item>
        <vud-sidebar-item>Partial ABP Multi-Option Pension</vud-sidebar-item>
    </vud-sidebar-group>
</vud-sidebar>