<vud-navbar type="secondary">
    <vud-navbar-menu>
        <vud-navbar-menu-item label="Youforce"></vud-navbar-menu-item>
        <vud-navbar-menu-item label="Hr for others" [active]="true"></vud-navbar-menu-item>
        <vud-navbar-menu-item label="Personal" href="#blog"></vud-navbar-menu-item>
        <vud-navbar-menu-item label="Admin" routerLink="settings"></vud-navbar-menu-item>
        <!-- <vud-navbar-menu-item label="Replacement" routerLink="/replacement"></vud-navbar-menu-item> -->
    </vud-navbar-menu>
    <vud-navbar-right-menu>
        <li>
            <a>
                <vud-icon icon="user"></vud-icon>
            </a>
        </li>
    </vud-navbar-right-menu>
</vud-navbar>