// .navbar {
//     margin-bottom: 0;
// }

.main-logo {
    margin: auto;
    width: 200px;
    vertical-align: middle;
    padding: 10px;
}

.logo-text {
    font-size: 20px;
    margin-left: 10px;
}

.select_group {
    float: right;
    margin-top: 16px;
    margin-right: 40px;
}